@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Bu proje Y224052054 numaralı Sakarya Üniversitesi Bilişim Sistemleri Mühendisliği Yüksek Lisans öğrencisine aittir..</p>
